 *{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}


.jumbotron {
	position: relative;
	background: url(back2.jpg);
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
	display: flex;

}

.jumbotron-landing {
	background: url(backgroundlanding.mp4);
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 860px;
	display: flex;
}

#juan{
	color: red;
	margin-left: 30px;
	font-family: Crimson Text, serif;
}



/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  right: 0;
  bottom: 0;
  width: 100%; 
  height: auto;
}

/* Add some content at the bottom of the video/page */
.content-landing {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}



.gap-100{
	padding: 50px 50px 50px 20px;
}

 h2{
	color: red;
}

.line {
	width: 300px;

}
#par{
	text-align: justify;
}
	

.containervid{

	/*margin-top: 100vh;*/
	position: fixed;
	background-position: center;
	justify-content: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	/*width: 100%;*/
	/*height: 1000px;*/
	/*display: flex;*/
	/*align-items: flex-end;*/
}


#myVideo{
	position:fixed;
    z-index: -1;
}

/*@media (min-aspect-ratio: 16/9) {
    #myVideo {

        width:100%;
        height: auto;
        justify-content: center;
    }
}

@media (max-aspect-ratio: 16/9- 1/1) {
    #myVideo {
    	position: fixed; 
        width:auto;
        height: 100%;
        justify-content: center;
    }
}*/


/*@media (aspect-ratio: 1/1) {
    #myVideo {
    	position: fixed;
        width:100%;
        height: auto;
        justify-content: center;
    }
}*/





/*.video1 {
	position: relative;
	background-position: center;
	justify-content: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 1000px;
	display: flex;
	align-items: flex-end;
}
*/



.carousel-inner, .carousel-item {
 position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  /*display: flex;*/
}

.landing {
	justify-content: center;
	padding: 200px 50px 50px 100px;
}







/*body{
	font-family: 'Raleway', sans-serif;
	color: #efefef;/* gray */
    /*text-shadow: 1px 1px 15px #000000;/*black*/
    /*background: */

    /*top, transparent*/
    
     /* linear-gradient(
    	rgba(17, 126, 112, 0.75),
    	rgba(0, 88, 255, 0.45)
    	), */ 

    /*url(./assets/images/beach.jpg);*/

 /*   background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
main{
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}
.container	{
	display: flex;
	align-items: center;
	width: 75%;

}

.overview{
	padding: 3rem;
}

.fullname{
	font-weight: 300;
	letter-spacing: 5px;
	margin-bottom: .5rem;

}
.job-title{
	color:#ffc107;/*yellow*/
/*	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .75rem;
	margin-bottom: 1rem;
	font-weight: bold;

}
	
	hr {
	width: 5rem;
	border: none;
	height: 2px;
	background-color: #00BCD4; /*sky blue*/
	/*margin: 1.5rem 0;*/
/*}


.description{
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	line-height: 1.75;

}
.works{
	margin-top: 1.5rem;
	margin-bottom: 3rem;

}

.works h2{
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: 1rem;

	}
.works img{
	width: 60px;
	height:60px;
	object-fit: cover;
}

.social-media a{
	color: #efefef;
	margin: 0 .5rem;
	font-size: 1.5rem;
	opacity: .75;
}

.social-media a:hover{
	opacity: 1;

}
.ad{
	margin: ..5rem;
	font-size: 1rem;

}

.image-container{
	width: 100%;
	padding: 3rem;
}

.image-container img{
	object-fit: cover;
	width: 200px;
	height:200px;
	border-radius: 50%;
	margin:auto;
	display:block;
	border: 5px solid #8CB9E1    ;


}*/

